#linkList{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:5px 0 0 0;
	width:208px;
	text-align:right;
	float:none;
	float:none;
}

#linkList h3{
	margin: 0;
	float: left;
}

#lselect,
#lfavorites,
#larchives,
#lresources
{
	border-left:1px solid white;
	padding:0 0 0 0;
	margin:0 0 40px 0;
}
#lselect{
}
#larchives{
}
#linkList ul{
	margin:0;
	padding:0;
	list-style:none;
}
#linkList li{
	font-size:0.8em;
	display:block;
	margin:0;
	padding: 0 0 7px 0;
	border-bottom:1px solid #F9F7F6;
}
#linkList li a{ 
	display:block;
	padding:4px 10px 4px 5px;
	margin:0 0 5px 0;
	border:0;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
	color:#333333;
}
#lselect li a,
#lfavorites li a{
	background:transparent url(visited.png) no-repeat  -100px;
}
#lselect li a:visited,
#lfavorites li a:visited{
	background-position:0 50% ;
}

#linkList li a:hover,
#linkList li a:focus,
#linkList li a:active{
	padding-right:6px;
	border-right:4px solid #363435;
	color:#363435;
	text-decoration:none;
}

#linkList li a.c{
	display:inline;
	padding:0 2px 0 0;
	text-transform:lowercase;
	font-style:italic;
	font-weight:normal;
	margin:0;
	border:0;
	background-position:-100px;
}
#linkList li a.c:hover,
#linkList li a.c:visited,
#linkList li a.c:active,
#linkList li a.c:focus{
	padding:0 2px 0 0;
	border:0;
	background-position:-100px;
}

#larchives  li,
#lresources li{
	border:0;
}

#lresources li a,
#larchives  li a{
	padding-right:6px;
	border:1px solid #F9F7F6;
	border-right:4px solid #777;
	text-decoration:none;
	background:white;
}
#footer{
	position:fixed;
	bottom:0px;
	height:60px;
	margin:20px 0 0 0;
	padding:40px 0 0 30px;
}

#footer a:hover,
#footer a:focus,
#footer a:active{
	color:#900;
	text-decoration:none;
	font-weight:bold;
	border-bottom:1px dotted #900;
	background:transparent;
}